@font-face {
  font-family: 'Crimson Text';
  src: url('CrimsonText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('CrimsonText-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('CrimsonText-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('CrimsonText-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('CrimsonText-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('CrimsonText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
